.instruction-login {
  min-height: 50px;
}

body {
  font-family: "Prompt", sans-serif;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  /* height: 8rem; */
  width: 100%;
  padding: 30px 0;
  background: #343a40;
}

.menu-container {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.navOpt-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navOpt-container a {
  height: 100%;
  text-decoration: none;
  text-align: center;
  margin: 0 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: all 0.3s ease;
  font-weight: 300;
}

#nav-logo {
  font-size: 40px;
  color: white;
}

#login-bt {
  padding-top: 20px;
}

.menu-content ul li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 900px) {
  .responsive-table {
    overflow-x: scroll;
  }

  table {
    overflow: hidden;
  }

  .nav-options {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .menu-container a {
    padding: 8px;
    padding-top: 15px;
  }

  .navOpt-container {
    display: flex;
    flex-flow: column;
    margin: 15px 0;
  }

  #nav-logo {
    font-size: 40px;
  }
}
