<nav class="menu-content">
  <div class="menu-container">
    <div class="navOpt-container">
      <ul class="nav-options">
        <li class="agenda-button"><a id="nav-logo" href="/">Agenda</a></li>
        <li class="addContato-button"><a href="/contato/index">Cadastrar contato</a></li>
        <% if(user) { %>
          <li class="login-out-button"><a id="login-bt" href="/login/logout">Sair</a></li>
          <% } else { %>
            <li class="login-out-button"><a id="login-bt" href="/login/index">Entrar</a></li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>